<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería de Certificaciones</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/sec.css">
</head>
<body>
  <header>
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/sobremi.html">Sobre Mi</a></li>
            <li><a href="/contacto.html">Contacto</a></li>
            <li><a href="#">Proyectos</a>
                <ul class="submenu">
                    <li><a href="/encriptador.html" target="_blank">Encriptador de Mensajes</a></li>
                    <li><a href="/ahorcado.html" target="_blank">Juego del Ahorcado</a></li>
                    <li><a href="/tienda.html" target="_blank">Tienda Online</a></li>
                </ul>
            </li>
            <li><a href="#">Juegos</a>
            <ul class="submenu">
                <li><a href="/acertar.html" >Tiro al Blanco</a></li>
                <li><a href="#"></a></li>
            </ul></li>
            <li><a href="/certificaciones.html">Mis Certificaciones</a></li>
        </ul>
    </nav>
  </header>
  <main class="gallery-container">
    
    <div class="gallery-item">
        <h3>Certificaciones en HTML</h3>
      
        <img src="/certificaciones/html.jpg" alt="">
        <img src="/certificaciones/html1.jpg" alt="">
        <img src="/certificaciones/html2.jpg" alt="">
        <img src="/certificaciones/html3.jpg" alt="">
      
    </div>
    <div class="gallery-item">
        <h3>Certificaciones en CSS</h3>
      
        <img src="/certificaciones/css.jpg" alt="">
        <img src="/certificaciones/css1.jpg" alt="">
        <img src="/certificaciones/css2.jpg" alt="">
        <img src="/certificaciones/css3.jpg" alt="">
      
    </div>
    <div class="gallery-item">
        <h3>Certificaciones en JAVASCRIPT</h3>
        
        <img src="/certificaciones/js.jpg" alt="">
        <img src="/certificaciones/js1.jpg" alt="">
        <img src="/certificaciones/js2.jpg" alt="">
        <img src="/certificaciones/js3.jpg" alt="">
        <img src="/certificaciones/js4.jpg" alt="">
        <img src="/certificaciones/js5.jpg" alt="">
        <img src="/certificaciones/js6.jpg" alt="">
    
    </div>
    <div class="gallery-item">
        <h3>Certificaciones en JAVA</h3>
        
        <img src="/certificaciones/java.jpg" alt="">
        <img src="/certificaciones/java1.jpg" alt="">
        <img src="/certificaciones/java2.jpg" alt="">
        <img src="/certificaciones/java3.jpg" alt="">
        <img src="/certificaciones/java4.jpg" alt="">
        <img src="/certificaciones/java5.jpg" alt="">
        <img src="/certificaciones/java6.jpg" alt="">
        <img src="/certificaciones/java7.jpg" alt="">
       
      </div>
      <div class="gallery-item">
        <h3>Otras Certificaciones</h3>
        <img src="/certificaciones/otro10.jpg" alt="">
        <img src="/certificaciones/otro14.jpg" alt="">
        <img src="/certificaciones/otro8.jpg" alt="">
        <img src="/certificaciones/otro.jpg" alt="">
        <img src="/certificaciones/otro1.jpg" alt="">
        <img src="/certificaciones/otro2.jpg" alt="">
        <img src="/certificaciones/otro3.jpg" alt="">
        <img src="/certificaciones/otro4.jpg" alt="">
        <img src="/certificaciones/otro5.jpg" alt="">
        <img src="/certificaciones/otro6.jpg" alt="">
        <img src="/certificaciones/otro7.jpg" alt="">
        <img src="/certificaciones/otro9.jpg" alt="">
        <img src="/certificaciones/otro11.jpg" alt="">
        <img src="/certificaciones/otro12.jpg" alt="">
        <img src="/certificaciones/otro13.jpg" alt="">
        <img src="/certificaciones/otro15.jpg" alt="">
       
      </div>
  </main>
  <script src="script.js"></script>
</body>
</html>
