.hidden {
    color: transparent;
}

body {
    background-color: #E5E5E5;
    color: blue;
    font-family:'Times New Roman', Times, serif;
   
 
}
.cabeza{
    margin: 20px 10px;
}
.espacio{
       display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
    font-size: 40px;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: blue;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
footer{
        display: block;
        text-align: center;
        font-size: 20px;
        position:absolute;
        bottom: 0;
        width: 100%;
}

/* RESPONSIVE */
@media (max-width: 320) {
    
}