<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/views/assets/css/reset.css">
    <link rel="stylesheet" href="/web/views/assets/css/styles.css">
    <title>Mi Portafolio</title>
</head>

<body>
    <div id="header"></div> 
    <main>
    <canvas width="1350" height="400"></canvas>
</main>

<div id="footer"></div>

    <script src="/web/views/modules/headerComponent.js"></script>
    <script src="/web/views/modules/footerComponent.js"></script>
    <script src="/web/views/assets/js/acertar.js"></script>
  
</body>

</html>